<!-- banner -->
<%= render 'header' %>

<%# @addresses.each do |address| %>
    <%#= address['address1']  %>
    <%# end %>

<!-- about -->
<section class="buddy-about">
  <div class="container">
    <div class="row">
      <div>
        <h3>Why You Need Buddy</h3>
        <hr>
          <p>
            Let's imagine that young family has just moved to a new district and they don't know anybody here. They need time to get familiar with neighbors, and they need to understand whether they can entrust to these neighbors. So what should parents do when they have no one to leave children with? That is where "BuddyBuddy" comes to rescue.
          </p>
      </div>
    </div>
  </div>
</section>

<!-- service -->
<section class="buddy-service">
  <div class="container">
    <div class="row">
      <div class>
        <h3>How it Works</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div>
          <i class="fas fa-4x fa-search"></i>
          <h2>Discover</h2>
          <p>Search buddies by profile, location, and category.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div>
          <i class="fas fa-4x fa-comments"></i>
          <h2>Request</h2>
          <p>Chat with your buddy and ask a request!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div>
          <i class="fas fa-4x fa-calendar-alt"></i>
          <h2>Book</h2>
          <p>Find times that work best and book instantly.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div>
          <i class="fas fa-4x fa-heart"></i>
          <h2>Experience</h2>
          <p>Show your Buddy confirmation, learn and play with your best buddy!</p>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- price -->
<section class="buddy-price">
  <div class="container">
    <div class="row">
      <div class>
        <h3>Price</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="price-box">
          <h2>Monthly Price</h2>
          <p>$0</p>
          <h2>Each Price</h2>
          <p>$10 - </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- buddy -->
<section class="buddy">
  <div class="container">
    <div class="row">
      <div class>
        <h3>Our Buddies</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("first-buddy",
      width: 400, height: 300, crop: :fill) %>');">
          <div class="card-category">Popular</div>
          <a class="card-link" href="#" ></a>
        </div>
        <h2>Brook san</h2>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("second-buddy",
      width: 400, height: 300, crop: :fill) %>');">
          <div class="card-category">Popular</div>
          <a class="card-link" href="#" ></a>
        </div>
        <h2>Ema san</h2>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("third-buddy",
      width: 400, height: 300, crop: :fill) %>');">
          <div class="card-category">Popular</div>
          <a class="card-link" href="#" ></a>
        </div>
        <h2>Catherine san</h2>
      </div>
    </div>
    <h2>+1,000 buddies & +3000 users are alredy registered!</h2>
    <h2>65 buddies are available today!</h2>
    <%= link_to "Find Buddy!", new_user_registration_path, class: "btn btn-red"  %>
  </div>
</section>


<!-- news -->
<section class="buddy-press">
  <div class="container">
    <div class="row">
      <div class>
        <h3>News</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div>
          <h2><a href="#">TechCrunch</a></h2>
          <h2><a href="#">CNN</a></h2>
          <h2><a href="#">THE WALL STREET JOURNAL.</a></h2>
          <h2><a href="#">lifehacker</a></h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- community -->
<section class="buddy-community">
  <div class="container">
    <div class="row">
      <div class>
        <h3>Community</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div>
          <%= cl_image_tag("first",
      width: 400, height: 300, crop: :fill, class: "community-img") %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div>
          <%= cl_image_tag("second",
      width: 400, height: 300, crop: :fill, class: "community-img") %>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div>
          <%= cl_image_tag("third",
      width: 400, height: 300, crop: :fill, class: "community-img") %>
        </div>
      </div>
    </div>
  </div>
</section>
