<div class="form-container">
  <%= simple_form_for(@user_profile) do |f| %>

    <%= f.input :first_name_kanji %>
    <%= f.input :last_name_kanji %>
    <%= f.input :first_name_kana %>
    <%= f.input :last_name_kana %>
    <%= f.input :gender, as: :radio_buttons, collection: UserProfile::GENDER %>
    <%= f.input :dob %>
    <%= f.input :phone_number %>
    <%= f.input :u_image_url %>
    <%= f.input :postal_code %>
    <%= f.input :state_kanji %>
    <%= f.input :state_kana %>
    <%= f.input :city_kanji %>
    <%= f.input :city_kana %>
    <%= f.input :town_kanji %>
    <%= f.input :town_kana %>
    <%= f.input :line1_kanji %>
    <%= f.input :line1_kana %>
    <%= f.input :line2_kanji %>
    <%= f.input :line2_kana %>
    <%= f.input :verification_document %>
    <%= f.input :tos %>


    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>
</div>
